@font-face {
    font-family: "LatoRegular";
    src: url("../font/Lato-Regular.ttf") format("truetype");
}


.navBar {
    position: fixed;   /* keeps it at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;     /* puts it ABOVE the banner */
}

.navBarText {
    position: fixed;
    top: 0px;
    left: 20px;
    color: white;
    z-index: 1001;
}

/* .navBarAboutText {
    position: fixed;
    top: 15px;
    right: 20px;
    color: white;
    z-index: 1001;
    font-size: xx-small;
} */
/* 
.navBarSpecText {
    position: fixed;
    top: 15px;
    right: 110px;
    color: white;
    z-index: 1001;
    font-size: xx-small;
} */


/* .navBarGamesText {
    position: fixed;
    top: 15px;
    right: 160px;
    color: white;
    z-index: 1001;
    font-size: xx-small;
} */

/* .navBarLogoText {
    position: fixed;
    top: 15px;
    right: 220px;
    color: white;
    z-index: 1001;
    font-size: xx-small;
} */

.homeLogo {
    height: 55px;
    width: auto;
    padding-top: 7px;
}



.navHome{
    position: fixed;
    top: -5px;
    right: 275px;
    color: white;
    z-index: 1001;
    font-size: 25px;
    font-family: "LatoRegular", sans-serif;
}

.line1{
    position: fixed;
    top: -5px;
    right: 265px;
    color: white;
    z-index: 1001;
    font-size: 25px;
    font-family: "LatoRegular", sans-serif;
}



 .navPort{
    position: fixed;
    top: -5px;
    right: 165px;
    color: white;
    z-index: 1001;
    font-size: 25px;
    font-family: "LatoRegular", sans-serif;
}

.line2{
    position: fixed;
    top: -5px;
    right: 155px;
    color: white;
    z-index: 1001;
    font-size: 25px;
    font-family: "LatoRegular", sans-serif;
}

.navCV{
    position: fixed;
    top: -5px;
    right: 115px;
    color: white;
    z-index: 1001;
    font-size: 25px;
    font-family: "LatoRegular", sans-serif;
}

.line3{
    position: fixed;
    top: -5px;
    right: 103px;
    color: white;
    z-index: 1001;
    font-size: 25px;
    font-family: "LatoRegular", sans-serif;
}

.navContact{
    position: fixed;
    top: -5px;
    right: 10px;
    color: white;
    z-index: 1001;
    font-size: 25px;
    font-family: "LatoRegular", sans-serif;
}






